/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --font-family-decorative: "Irish Grover", system-ui;
    --font-family-text: "Montserrat", sans-serif;
}

/* || UTILITIES */
.show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

/* || GENERAL STYLING */

* {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-decorative);
    background-image: url("./images/6070.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: clamp(1rem, 0.7273rem + 1.4545vw, 1.25rem);
}

/* || HEADER  */
.fullscreen-header {
    height: 85vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header-email {
    cursor: pointer;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: white;
}

.nav-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    list-style-type: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3rem;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
}

.header-photo {
    max-width: 50%;
    max-height: 50%;
    min-width: 225px;
    min-height: 225px;
}

.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header-container.left {
    height: 100%;
    background-color: #434242;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    -ms-flex-direction: column;

    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;

    -webkit-box-shadow: inset 0px 0px 10px 5px rgba(20, 20, 20, 0.75);

    box-shadow: inset 0px 0px 10px 5px rgba(20, 20, 20, 0.75);
}

.header-logo.background {
    position: relative;
    left: -7%;
    height: 35px;
    width: 35px;
    color: black;
    background-color: white;
    border: 0.5px solid black;
    /* margin-right: 5rem; */
}

.header-logo {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 2px 1px;
    box-shadow: 0 0 2px 1px;
}

.header-details-container {
    min-height: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-details-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 28rem;
    text-align: center;
}

.header-details-text:last-child {
    background-color: white;
    color: black;
    padding: 1rem;
    border: 0.5px solid rgb(14, 13, 13);
    -webkit-box-shadow: 0 0 5px 1px black;
    box-shadow: 0 0 5px 1px black;
}

/* || Technologies  */

.section {
    margin-top: clamp(1.5rem, 1.2rem + 1.6vw, 3rem);
    margin-bottom: clamp(4rem, 3.2rem + 4.2667vw, 8rem);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* height: 600px; */
}

.section-title {
    font-size: clamp(1.75rem, 1.5rem + 1.3333vw, 3rem);
    margin-bottom: 2rem;
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 5555px;
    -webkit-box-shadow: 0 0 5px 1px;
    box-shadow: 0 0 5px 1px;
}

.technologies-grid {
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    border: 0.3px solid black;
    padding: 1rem;
    background-color: white;
    -webkit-box-shadow: 0 0 5px 1px;
    box-shadow: 0 0 5px 1px;
    width: 92%;
}

.technology-card {
    margin-left: clamp(0rem, -3rem + 14.5455vw, 2rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.technology-card span {
    margin: 0 1rem;
}

.technology-img {
    width: 30px;
    height: 30px;
}

.icon {
    width: 25px;
    height: 25px;
}

/* || MODAL */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background-color: white;
    padding: 1rem 1rem 3rem 1rem;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 1px;
    box-shadow: 0 0 5px 1px;
    width: 90%;
    height: 80vh;
    max-width: 1200px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
}

.modal-overlay.active,
.modal-container.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-close {
    font-size: clamp(2.125rem, 1.5833rem + 2.8889vw, 3.75rem);
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.modal-close:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.modal-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
}

.modal-content-split {
    font-family: var(--font-family-text);
    font-weight: 500;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.5rem 0;
    border-top: 0.5px solid gray;
}

.modal-project-title {
    padding-bottom: 1.5rem;
    font-size: clamp(1.25rem, 1rem + 1.3333vw, 2rem);
}

.modal-project-img {
    border-radius: 15px;
    width: 85%;
    max-width: 400px;
}

.modal-project-description {
    padding-top: 1rem;
    text-align: center;
    width: 100%;
    line-height: 1.5;
    font-size: clamp(0.875rem, 0.75rem + 0.6667vw, 1.25rem);
}

.modal-project-technologies {
    font-family: var(--font-family-text);
    font-weight: 800;
    padding-bottom: 2rem;
    text-align: center;
    width: 100%;
    border-bottom: 0.5px solid gray;
}

.modal-project-technologies-list {
    font-weight: 600;
}

.modal-project-link {
    text-decoration: none;
    padding-top: 1.5rem;
    color: rgb(37, 10, 105);
    font-size: clamp(1rem, 0.8333rem + 0.8889vw, 1.5rem);
}

.modal-project-link:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* || PROJECTS */

.projects-container {
    background-color: white;
    -webkit-box-shadow: 0 0 5px 1px;
    box-shadow: 0 0 5px 1px;
    width: 92%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2.5rem 0 1rem 0;
}

.project-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    color: black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* padding: 1.5rem; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 35%;
    min-width: 250px;
    min-height: 200px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.project-card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.project-title {
    margin: 1rem;
}

.project-img {
    min-height: 75px;
    min-width: 75px;
    height: 50%;
    width: 50%;
}

.project-details {
    /* padding-top: 1rem;
    text-align: center;
    height: 4rem;
    overflow: auto; */
    /* max-width: 60%; */
}

.display-none {
    display: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 5rem;
    height: 5rem;
    background-color: #434242;
    color: white;
}

/* Tablets-small */
@media screen and (min-width: 576px) {
    .technologies-grid {
        -ms-grid-columns: 1fr 5rem 1fr;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        -webkit-column-gap: 5rem;
        -moz-column-gap: 5rem;
        column-gap: 5rem;
        width: max(50%, 550px);
        padding: 1rem;
    }

    .technology-card {
        margin-left: 1.5rem;
    }

    .technology-img {
        width: 50px;
        height: 50px;
    }

    .project-card {
        min-width: 350px;
        padding: 1rem;
    }

    .modal-container {
        height: 90vh;
    }
}

/* Tablets */
@media screen and (min-width: 700px) {
    /* || HEADER TABLETS */

    .header-container.left {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .header-details-container {
        min-height: 55%;
    }
}

/* Desktops */
@media screen and (min-width: 992px) {
    /* || HEADER DESKTOPS */

    .fullscreen-header {
        /* font-size: clamp(1rem, 0.4583rem + 1.3333vw, 1.625rem); */
        height: 100vh;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: 6rem 1fr;
        grid-template-rows: 6rem 1fr;
        grid-template-areas:
            "details nav"
            "details photo";
        background-size: 100% 100%;
        background-position: center;
    }

    .nav {
        grid-area: nav;
    }

    .nav-list {
        height: clamp(4rem, 2rem + 3.33vw, 6rem);
    }

    .header-container.left {
        grid-area: details;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .header-container.right {
        opacity: 1;
        grid-area: photo;
        background-image: url("./images/crack.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-logo {
        height: 75px;
        width: 75px;
        position: absolute;
        top: 50%;
        right: 50%;

        -webkit-transform: translate(50%, -50%);

        -ms-transform: translate(50%, -50%);

        transform: translate(50%, -50%);

        border-radius: 50%;
        -webkit-box-shadow: 0 0 15px 1px;
        box-shadow: 0 0 15px 1px;
    }

    .header-logo.background {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 175px;
        width: 175px;
        color: black;
        background-color: white;
        border: 1px solid black;
        margin-right: 0;
    }

    .header-details-container {
        min-height: 45%;
    }

    .header-photo {
        min-width: 250px;
        min-height: 250px;
        max-width: 45%;
        max-height: 45%;
        background-color: #434242;
    }

    /* || MODAL DESKTOP */

    .modal-content-split {
        padding: 3.5rem 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .modal-project-img {
        max-width: 450px;
        max-height: 450px;
        min-height: 150px;
        min-width: 150px;
        margin-right: 1.5rem;
    }

    .modal-project-description {
        width: min(40%, 700px);
        padding: 1rem;
    }
}
@media screen and (min-width: 992px) {
    .nav {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .header-container.left {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
    }

    .header-container.right {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
}

/* || LOADER */

.modal-loader {
    display: none;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #000000;
    -webkit-animation: l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
    animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@-webkit-keyframes l20-1 {
    0% {
        -webkit-clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%
        );
        clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%
        );
    }
    12.5% {
        -webkit-clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 0%,
            100% 0%,
            100% 0%
        );
        clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 0%,
            100% 0%,
            100% 0%
        );
    }
    25% {
        -webkit-clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 100%,
            100% 100%,
            100% 100%
        );
        clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 100%,
            100% 100%,
            100% 100%
        );
    }
    50% {
        -webkit-clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 100%,
            50% 100%,
            0% 100%
        );
        clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 100%,
            50% 100%,
            0% 100%
        );
    }
    62.5% {
        -webkit-clip-path: polygon(
            50% 50%,
            100% 0,
            100% 0%,
            100% 0%,
            100% 100%,
            50% 100%,
            0% 100%
        );
        clip-path: polygon(
            50% 50%,
            100% 0,
            100% 0%,
            100% 0%,
            100% 100%,
            50% 100%,
            0% 100%
        );
    }
    75% {
        -webkit-clip-path: polygon(
            50% 50%,
            100% 100%,
            100% 100%,
            100% 100%,
            100% 100%,
            50% 100%,
            0% 100%
        );
        clip-path: polygon(
            50% 50%,
            100% 100%,
            100% 100%,
            100% 100%,
            100% 100%,
            50% 100%,
            0% 100%
        );
    }
    100% {
        -webkit-clip-path: polygon(
            50% 50%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            0% 100%
        );
        clip-path: polygon(
            50% 50%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            0% 100%
        );
    }
}
@keyframes l20-1 {
    0% {
        -webkit-clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%
        );
        clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%
        );
    }
    12.5% {
        -webkit-clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 0%,
            100% 0%,
            100% 0%
        );
        clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 0%,
            100% 0%,
            100% 0%
        );
    }
    25% {
        -webkit-clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 100%,
            100% 100%,
            100% 100%
        );
        clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 100%,
            100% 100%,
            100% 100%
        );
    }
    50% {
        -webkit-clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 100%,
            50% 100%,
            0% 100%
        );
        clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 100%,
            50% 100%,
            0% 100%
        );
    }
    62.5% {
        -webkit-clip-path: polygon(
            50% 50%,
            100% 0,
            100% 0%,
            100% 0%,
            100% 100%,
            50% 100%,
            0% 100%
        );
        clip-path: polygon(
            50% 50%,
            100% 0,
            100% 0%,
            100% 0%,
            100% 100%,
            50% 100%,
            0% 100%
        );
    }
    75% {
        -webkit-clip-path: polygon(
            50% 50%,
            100% 100%,
            100% 100%,
            100% 100%,
            100% 100%,
            50% 100%,
            0% 100%
        );
        clip-path: polygon(
            50% 50%,
            100% 100%,
            100% 100%,
            100% 100%,
            100% 100%,
            50% 100%,
            0% 100%
        );
    }
    100% {
        -webkit-clip-path: polygon(
            50% 50%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            0% 100%
        );
        clip-path: polygon(
            50% 50%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            0% 100%
        );
    }
}
@-webkit-keyframes l20-2 {
    0% {
        -webkit-transform: scaleY(1) rotate(0deg);
        transform: scaleY(1) rotate(0deg);
    }
    49.99% {
        -webkit-transform: scaleY(1) rotate(135deg);
        transform: scaleY(1) rotate(135deg);
    }
    50% {
        -webkit-transform: scaleY(-1) rotate(0deg);
        transform: scaleY(-1) rotate(0deg);
    }
    100% {
        -webkit-transform: scaleY(-1) rotate(-135deg);
        transform: scaleY(-1) rotate(-135deg);
    }
}
@keyframes l20-2 {
    0% {
        -webkit-transform: scaleY(1) rotate(0deg);
        transform: scaleY(1) rotate(0deg);
    }
    49.99% {
        -webkit-transform: scaleY(1) rotate(135deg);
        transform: scaleY(1) rotate(135deg);
    }
    50% {
        -webkit-transform: scaleY(-1) rotate(0deg);
        transform: scaleY(-1) rotate(0deg);
    }
    100% {
        -webkit-transform: scaleY(-1) rotate(-135deg);
        transform: scaleY(-1) rotate(-135deg);
    }
}
